 h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
  animation: changeColor 3s infinite;
  }


  @keyframes changeColor {
    0% { color: #333; }
    50% { color: blue; }
    100% { color: #333; }
  }
